/*
	Interphase by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Basic */

	.logo {
    	display: block;
    	position: absolute; /* Posicionamiento absoluto para colocarlo en la esquina */
    	top: 40px; /* Margen superior */
    	left: 70px; /* Margen izquierdo */
    	max-width: 500px; /* Tamaño máximo del logo */
    	width: 100%; /* Ajusta el ancho al contenedor */
    	height: auto; /* Mantiene la proporción */
    	z-index: 1; /* Asegura que esté por encima de otros elementos */
	}

	body, input, select, textarea {
		font-size: 13pt;
	}